/*Version:  2.0*/

/*Navbar*/

.headerStyle{
	/*background-color: black;*/
	background-image: url("../images/headerBGImage.jpeg");
}

.menuItemsFont{
	font-family: 'Rajdhani', sans-serif;
	font-size: 16px;
	font-weight: bold;
}

.nav-link{
	color: #fff !important;
}

.nav-link:hover{
	color: #EC518D !important;
}

.nav-item:hover{
	color: #EC518D !important;
}

.titleFont{
	color: white !important;
	font-family: 'Varela', sans-serif;
	text-transform: uppercase;
	font-weight: 500px !important;
	font-size: 40px !important;
}

.subtitleFont{
	color: #202124 !important;
	font-family: 'Varela', sans-serif;
	text-transform: uppercase;
	font-weight: 500px !important;
	font-size: 30px !important;
}

.cardFont{
	color: #202124 !important;
	font-family: 'Rajdhani', sans-serif;	
	font-weight: 500px !important;
}

.card-textFont{
	font-size: 18px;
}

.footerTextFont{
	color: white !important;
	font-family: 'Rajdhani', sans-serif;	
	font-weight: 500px !important;
	font-size: 24px;
}

.hr-white{
	background-color: white !important;
	color: white !important;	
	opacity: 0.3 !important;
}

.titleDescriptionFont{
	color: white !important;
	font-family: 'Rajdhani', sans-serif;
	font-size: 24px !important;	
}

.titleDescriptionFont2{
	color: #202124 !important;
	font-family: 'Rajdhani', sans-serif;
	font-size: 20px !important;	
}

.btnMain{
	text-transform: uppercase;
	font-family: 'Rajdhani', sans-serif;
	color: white !important;
	/*font-weight: bold;*/
	font-size: 25px;	
	background-color: #EC518D;
	padding:  20px;
}

.btnMain:hover{
	background-color: #F1F3F4;
	color: #202124 !important;	
}

.btnMain2{
	text-transform: uppercase;
	font-family: 'Rajdhani', sans-serif;
	color: white !important;
	/*font-weight: bold;*/
	font-size: 25px;	
	background-color: #8046F0;
	padding:  20px;
}

.btnMain2:hover{
	background-color: #F1F3F4;
	color: #202124 !important;	
}

.btnMain3{
	text-transform: uppercase;
	font-family: 'Rajdhani', sans-serif;
	color: white !important;
	/*font-weight: bold;*/
	font-size: 25px;	
	background-color: #8046F0;
	padding:  20px;
}

.btnMain3:hover{
	background-color: #EC518D;
	/*color: #202124 !important;	*/
}

.portalGoLogoSize{
	width: 231px;
	height: 40px;
}

.secondaryDescriptionFont{
	color: #212529 !important;
	font-family: 'Rajdhani', sans-serif;
	font-size: 19px !important;	
}

.btnSecondary{
	text-transform: uppercase;
	font-family: 'Rajdhani', sans-serif;
	color: white !important;
	/*font-weight: bold;*/
	font-size: 25px;	
	background-color: #8046F0;
	padding:  20px;
}

.btnSecondary:hover{
	background-color: #EC518D;	
}

.videoDescription{
	color: #212529 !important;
	font-family: 'Rajdhani', sans-serif;
	font-size: 20px !important;
	margin-top: 20px !important;
}

.carousel-caption{
	background-color: rgba(128, 70, 240, 0.7);
	color: white;
	font-family: 'Varela', sans-serif;
	font-weight: 200;
	padding-left: 20px;
	padding-right: 20px;

}

.footerColor{
	background-color: #202124;
}

/*Fixed Navbar Offset Pseudoclasses*/

section:before{
	height: 50px;
    content: "";
    display:block
}

/*MDB*/

/*Registration Landing*/

.registrationForm{	
	background-color: rgba(255,255,255,0.9);;
	padding: 20px 50px;
	font-family: 'Rajdhani', sans-serif;
}

.registrationButton{
	background-color: #EC518D !important;
	font-size: 18px !important;
}

.RegistrationFormTitle{
	font-size: 22px;
}

.RegistrationFormText{
	font-size: 20px;
}

.RegistrationFormHighlight1{
	color: #EC518D;
}

.RegistrationFormHighlight2{
	color: #8046F0
}

.show-row{
	background-color: red;
}